body {
font-family: 'Rock Salt', cursive;
background-image:url(img/rick_and_morty_s4_image-1.jpeg) ;
background-size: cover;
}

figure {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo-img {
    height: 272px;
    width: 640px;
}

figcaption {
    color: #416848;
    font-weight: bold;
    font-size: 2rem;
}

.about {
    padding: 2rem;
    display: flex;
    margin-bottom: 3rem;
}

.about img {
    border: solid 10px #2b4430;
    margin: 1rem;
    border-radius: 2rem;
}

.about p {
    background-color: rgba(250, 235, 215, 0.747);
    padding: 1rem;
    border-radius: 2rem;
    color: #2b4430;
    font-weight: bold;
}

.curiosity {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #2b4430;
    background-color: rgba(250, 235, 215, 0.747) ;
    border-radius: 2rem;
    padding: 1rem;
}

.curiosity-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.curiosity ul {
    background-color: rgba(250, 235, 215, 0.747) ;
    text-align: left;
    border-radius: 2rem;
    padding-right: 1rem;
    font-weight: bold;
    color: #2b4430;
}

.learn-more {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.learn-more h3 {
    background-color: rgba(250, 235, 215, 0.747) ;
    border-radius: 2rem;
    width: fit-content;
    padding: 1rem;
    color: #2b4430;
}
  
.img-button {
    height: 161px;
    width: 110px;
}